html body{
    background-color: aqua;
    margin: 0;
    padding: 0;
}
.cal{
    text-align: center;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: hsl(315, 4%, 56%);
    box-shadow: burlywood;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 18px;
    width: 325px;
}

.display{
    width: 100%;
    height: 60%;
    padding: 40px 0 ;
    background: hsla(273, 92%, 45%, 0.388) !important;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;

}
.buttons{
    padding: 20px 20px 0 20px;

} 

.row{
    width: 280px;
    float: left;
} 

.btn:hover{
    background-color: gray;
    color: #ffffffb6;
} 

input[type=button]{
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background-color:rgb(24, 62, 71) ;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #e4d3d3;
    cursor: pointer;

} 

input[type=text]{

    width: 275px;
    height: 60px; 

    float: left;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color : hsla(0, 3%, 6%, 0.827);
    color: rgba(255, 255, 255, 0.219);
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px;

    

}
.blue{
    background-color: tomato;
    color: white
}